.App {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.App-logo {
  height: 10vh;
  width: auto;
  top: 3em;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);


}

.image-container {
  top: 1em;
  align-content: center;
  padding-bottom: 0.3em;
}

.App-header {
  height: 90vh;
  width: 90vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1.5vh + 2vmin);
  color: white;
  background-color: #282c34;
  border-radius: 1em;
  padding-top: 0.2em;
  box-sizing: border-box;
  overflow: auto;
}

.Language {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 0;
  padding-left: 2em;
  padding-right: 2em;
}

#language {
  background: none;
  border: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-container {
  position: relative;
  height: 100vh;
  background-image: url('/wu.jpg');
  background-size: cover;
  background-position: center;
}

.validated{
  color: green;
}
.error {
  color: red;
}

pre {
    white-space: pre-wrap;       /* Erhält Zeilenumbrüche */
    word-wrap: break-word;       /* Bricht lange Wörter um */
    overflow-x: auto;            /* Scrollbar nur wenn nötig */
    max-width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Blur-Effekt */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2rem;
}


.content-container {
  position: static;
  padding: 1em;
  overflow: auto;
}

.link{
  text-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  text-decoration: none;
}
.link:hover{
  text-shadow: 0.2em 0.2em 0.10em rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  text-decoration: underline;
}

